<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Bolzplatz{% endblock %}</title>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">



<style type="text/css">
   
  
    
    #overview{
        height: 50px;
        width: 100%;
        float: left;
    }
    
</style>

</head>

<body role="document">
    <script>
   $(".nav a").on("click", function(){
   $(".nav").find(".active").removeClass("active");
   $(this).parent().addClass("active");
});
</script>
<div class="page-header">
    <h1 align="center">EM - Tippspiel</h1>
    <!---<p align="right">
        <button class="button" class="btn btn-success btn-lg">
    {% if user.is_authenticated %}
        
        <a href="{% url 'auth:logout' %}?next={{ request.path }}">Log Out</a>
    {% else %}
        <a href="{% url 'auth:login' %}?next={{ request.path }}">Log In</a>
    {% endif %}
    </button>
</p>-->
  </div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    <a class="navbar-brand" href="#">Amazon Tippspiel</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="/bets">Bets</a></li>
      <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Standings
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">STR1</a></li>
          <li><a href="#">CGN2</a></li>
          <li><a href="#">FRA3</a></li>
          <li class="divider"></li>
           <li><a href="#">Global</a></li>
        </ul>
      </li>
      <li><a href="/user">Schedule</a></li>
      <li><a href="/user">Rules</a></li>
        </ul>
      <ul class="nav navbar-nav navbar-right">
      <li><a href="/user/create"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/user/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
  
    </ul>
  </div>
</nav>




{% block main %}
{% endblock %}
</body>

</html>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>